<section class="container">
    <div class="row m-0 justify-content-center align-item-center">
        <div class="col-md-9 mt-4">
            <div class="title">
                <h2>REABERTURA SMART FIT</h2>
                <div class="line"></div>
            </div>
            <p class="mt-4">O horário de funcionamento das nossas unidades está seguindo os decretos de cada município. Por isso,
                confira aqui se a sua unidade está aberta e as medidas de segurança que estamos seguindo.</p>
        </div>
        <div class="col-md-9 mt-4">
            <app-form (formSearch)="state.setFilterData($event)"></app-form>
            <app-legend></app-legend>
        </div>
        <div class="col-md-9 my-2">
            <div class="row">
                <div class="col-md-4">
                    <app-card></app-card>
                </div>
            </div>
        </div>
    </div>
</section>