.container{
    background-color: var(--light-grey-2);
    min-height: 150px;
    border-radius: 5px;

    .legend-container{
        display: flex;
        flex-direction: column;
        .group{
            text-align: center;
            img{
                width: 40px;
            }
            legend{
                font-size: 0.8rem;
            }
        }

    }
}