<div class="row m-0 container my-3 p-2 justify-content-between align-items-center">
    <div class="col-md-3 legend-container">
        <p class="text-center m-1">Máscara</p>
        <div class="d-flex justify-content-center align-items-center">
            <div class="group">
                <img src="../../../assets/images/required-mask.png" alt="">
                <legend>Obrigatório</legend>
            </div>
            <div class="group">
                <img src="../../../assets/images/recommended-mask.png" alt="">
                <legend>Recomendado</legend>
            </div>
        </div>

    </div>
    <div class="col-md-3 legend-container">
        <p class="text-center m-1">Toalha</p>
        <div class="d-flex justify-content-center align-items-center">
            <div class="group">
                <img src="../../../assets/images/required-towel.png" alt="">
                <legend>Obrigatório</legend>
            </div>
            <div class="group">
                <img src="../../../assets/images/recommended-towel.png" alt="">
                <legend>Recomendado</legend>
            </div>
        </div>

    </div>
    <div class="col-md-3 legend-container">
        <p class="text-center m-1">Bebedouro</p>
        <div class="d-flex justify-content-center align-items-center">
            <div class="group">
                <img src="../../../assets/images/partial-fountain.png" alt="">
                <legend>Parcial</legend>
            </div>
            <div class="group">
                <img src="../../../assets/images/forbidden-fountain.png" alt="">
                <legend>Proibido</legend>
            </div>
        </div>

    </div>
    <div class="col-md-3 legend-container">
        <p class="text-center m-1">Vestiários</p>
        <div class="d-flex justify-content-center align-items-center">
            <div class="group">
                <img src="../../../assets/images/required-lockerroom.png" alt="">
                <legend>Liberado</legend>
            </div>
            <div class="group">
                <img src="../../../assets/images/partial-lockerroom.png" alt="">
                <legend>Parcial</legend>
            </div>
            <div class="group">
                <img src="../../../assets/images/closed-lockerroom.png" alt="">
                <legend>Fechado</legend>
            </div>
        </div>

    </div>
</div>
