:root {
	--dark-grey: #6b6b6b;
    --light-grey-1: #d4d4d4;
    --light-grey-2: #f1efef;
    --light-grey-3: #fff1f1;
    --yellow: #FFB612;
    --red: #dc0a17;
    --green: #2FC022;
    --black-1: #000000;
    --black-2: #333333;
    --white-1: #fafafa;
}