:root {
	--dark-grey: #333333;
    --light-grey-1: #808080;
    --light-grey-2: #e6e4e4;
    --yellow: #FFB612;
    --red: #dc0a17;
    --green: #2FC022;
    --black-1: #000000;
    --black-2: #333333;
    --white-1: #fafafa;
}